name: Continuous Integration Workflow

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: 'Build Mindfire FOSS application'
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: read
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: 'Install dependencies'
        run: npm install

      - name: 'Build application'
        run: npm run build

      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actions
          message: 'build: build application'
          fetch: false

      - name: Fetch branches and create gh-pages branch
        run: |
          git fetch origin
      
      - name: Copy to temp-directory
        run: |
          mkdir /tmp/temp-directory
          cp -r .next/* /tmp/temp-directory/
          git checkout gh-pages
          git rm -rf .
          cp -r /tmp/temp-directory/ .
          git add temp-directory/
          git commit -m "Copy main-folder to gh-pages branch"
      
      - name: Push to gh-pages
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git push origin gh-pages
